*{
    margin: 0;
    padding: 0;
    font-size: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgb(0, 0, 0,0.75)),url(images.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.9s;
}
.navbar ul li a:hover{
    color: orange;
}
.navbar ul li a:hover::after{
    width: 100%;
}
.loginbox{
    width: 80%;
    height: 80%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(0, 0, 0,0.5));
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 50%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"],input[type="number"],input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    width: 2;
    border: none;
    outline: none;
    height: 40px;
    text-transform: uppercase;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: 1s;
}
.loginbox input[type="submit"]:hover{
    width: 100%;
    cursor: pointer;
    background: #dc1b1b7e;
    color: #000;
    
}
.loginbox a{
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: rgb(22, 108, 227);
}
